/* semantic color variables for this project */
:root {
  --brand-hue: 210;
  --brand-saturation: 75%;
  --brand-lightness: 35%;

  --responsive-padding: clamp(1rem, 5vw, 3.5rem);

  --c-brand: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    var(--brand-lightness)
  );
  --c-brand-lighter: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    calc(var(--brand-lightness) + 5%)
  );
  --c-brand-darker: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    calc(var(--brand-lightness) - 5%)
  );

  --c-bg: hsl(var(--brand-hue), 6%, 96.5%);
  --c-bg-accent-1: hsl(var(--brand-hue), 6%, 94%);
  --c-bg-accent-2: hsl(var(--brand-hue), 6%, 90%);

  --c-fg: hsl(var(--brand-hue), 6%, 15%);
  --c-fg-accent-1: hsl(var(--brand-hue), 6%, 20%);
  --c-fg-accent-2: hsl(var(--brand-hue), 6%, 30%);

  --c-text-1: hsl(var(--brand-hue), var(--brand-saturation), 10%);
  --c-text-2: hsl(var(--brand-hue), 12.5%, 27.5%);
  --c-text-3: hsl(var(--brand-hue), 12.5%, 37.5%);

  --c-text-secondary-1: hsl(var(--brand-hue), var(--brand-saturation), 95%);
  --c-text-secondary-2: hsl(var(--brand-hue), 12.5%, 85%);
  --c-text-secondary-3: hsl(var(--brand-hue), 12.5%, 80%);

  --overlay-light: hsla(0, 0%, 0%, 0.15);

  /* ---------------- DARK -------------------- */
  --c-brand-dark: hsl(
    var(--brand-hue),
    calc(var(--brand-saturation) / 2),
    calc(var(--brand-lightness) / 1.5)
  );
  --c-brand-lighter-dark: hsl(
    var(--brand-hue),
    calc(var(--brand-saturation) / 2),
    calc((var(--brand-lightness) / 1.5) + 10%)
  );
  --c-brand-darker-dark: hsl(
    var(--brand-hue),
    calc(var(--brand-saturation) / 2),
    calc((var(--brand-lightness) / 1.5) - 10%)
  );

  --c-bg-dark: hsl(var(--brand-hue), 6%, 7.5%);
  --c-bg-accent-1-dark: hsl(var(--brand-hue), 6%, 12.5%);
  --c-bg-accent-2-dark: hsl(var(--brand-hue), 6%, 17.5%);

  --c-fg-dark: hsl(var(--brand-hue), 6%, 90%);
  --c-fg-accent-1-dark: hsl(var(--brand-hue), 6%, 85%);
  --c-fg-accent-2-dark: hsl(var(--brand-hue), 6%, 80%);

  --c-text-1-dark: hsl(var(--brand-hue), 15%, 95%);
  --c-text-2-dark: hsl(var(--brand-hue), 12.5%, 85%);
  --c-text-3-dark: hsl(var(--brand-hue), 12.5%, 75%);

  --c-text-secondary-1-dark: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    10%
  );
  --c-text-secondary-2-dark: hsl(var(--brand-hue), 12.5%, 30%);
  --c-text-secondary-3-dark: hsl(var(--brand-hue), 12.5%, 37.5%);

  --overlay-dark: hsla(0, 0%, 100%, 0.15);

  /* Semantic */
  --bg: var(--c-bg);
  --bg-accent-1: var(--c-bg-accent-1);
  --bg-accent-2: var(--c-bg-accent-2);

  --fg: var(--c-fg);
  --fg-accent-1: var(--c-fg-accent-1);
  --fg-accent-2: var(--c-fg-accent-2);

  --text-1: var(--c-text-1);
  --text-2: var(--c-text-2);
  --text-3: var(--c-text-3);

  --text-secondary-1: var(--c-text-secondary-1);
  --text-secondary-2: var(--c-text-secondary-2);
  --text-secondary-3: var(--c-text-secondary-3);

  --brand: var(--c-brand);
  --brand-lighter: var(--c-brand-lighter);
  --brand-darker: var(--c-brand-darker);

  --overlay: var(--overlay-light);
}

:root.dark {
  --bg: var(--c-bg-dark);
  --bg-accent-1: var(--c-bg-accent-1-dark);
  --bg-accent-2: var(--c-bg-accent-2-dark);
  --fg: var(--c-fg-dark);
  --fg-accent-1: var(--c-fg-accent-1-dark);
  --fg-accent-2: var(--c-fg-accent-2-dark);

  --text-1: var(--c-text-1-dark);
  --text-2: var(--c-text-2-dark);
  --text-3: var(--c-text-3-dark);

  --text-secondary-1: var(--c-text-secondary-1-dark);
  --text-secondary-2: var(--c-text-secondary-2-dark);
  --text-secondary-3: var(--c-text-secondary-3-dark);

  --brand: var(--c-brand-dark);
  --brand-lighter: var(--c-brand-lighter-dark);
  --brand-darker: var(--c-brand-darker-dark);

  --overlay: var(--overlay-dark);
}
